@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("./assets/fonts/Roboto-Light.ttf");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("./assets/fonts/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("./assets/fonts/Roboto-Medium.ttf");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("./assets/fonts/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("./assets/fonts/Roboto-Black.ttf");
  }

  @font-face {
    font-family: "Sacramento";
    font-weight: 400;
    src: url("./assets/fonts/Sacramento-Regular.ttf");
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-black font-roboto box-border p-0 m-0;
  }

  h1 {
    @apply font-black text-8xl;
  }

  h2 {
    @apply font-bold text-3xl;
  }

  h3 {
    @apply font-medium text-xl;
  }

  h4 {
    @apply font-normal text-lg;
  }

  p,
  a {
    @apply font-normal leading-7;
  }

  b {
    @apply font-medium;
  }

  small {
    @apply font-light text-sm;
  }

  a,
  button {
    @apply select-none;
  }
}

@layer components {
  .page-spacing {
    @apply mx-5 md:mx-24 xl:mx-60 2xl:mx-96;
  }

  .certificate {
    background-image: url("./assets/svg/certificate.svg");
  }
}