@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* roboto-300 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/roboto-v32-latin-300.woff2') format('woff2'),
      url('./assets/fonts/roboto-v32-latin-300.ttf') format('truetype');
  }

  /* roboto-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-v32-latin-regular.woff2') format('woff2'),
      url('./assets/fonts/roboto-v32-latin-regular.ttf') format('truetype');
  }

  /* roboto-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/roboto-v32-latin-500.woff2') format('woff2'),
      url('./assets/fonts/roboto-v32-latin-500.ttf') format('truetype');
  }

  /* roboto-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/roboto-v32-latin-700.woff2') format('woff2'),
      url('./assets/fonts/roboto-v32-latin-700.ttf') format('truetype');
  }

  /* roboto-900 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/roboto-v32-latin-900.woff2') format('woff2'),
      url('./assets/fonts/roboto-v32-latin-900.ttf') format('truetype');
  }

  /* sacramento-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Sacramento';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/sacramento-v15-latin-regular.woff2') format('woff2'),
      url('./assets/fonts/sacramento-v15-latin-regular.ttf') format('truetype');
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-black font-roboto box-border p-0 m-0 overflow-auto;
  }

  h1 {
    @apply font-black text-8xl;
  }

  h2 {
    @apply font-bold text-3xl;
  }

  h3 {
    @apply font-medium text-xl;
  }

  h4 {
    @apply font-normal text-lg;
  }

  p,
  a {
    @apply font-normal leading-7;
  }

  b {
    @apply font-medium;
  }

  small {
    @apply font-light text-sm;
  }

  a,
  img,
  button {
    @apply select-none;
  }
}

@layer components {
  .page-spacing {
    @apply mx-5 md:mx-24 xl:mx-60 2xl:mx-96;
  }

  .certificate {
    background-image: url("./assets/svg/certificate.svg");
  }
}